@import 'node_modules/bourbon/app/assets/stylesheets/_bourbon.scss';
@import 'node_modules/bourbon-neat/app/assets/stylesheets/_neat.scss';
@import 'node_modules/bootstrap-sass/assets/stylesheets/_bootstrap-sprockets.scss';
@import 'node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss';

body{
  background: #333;
  overflow-y: hidden;
}

.text-white {
  color: #fff;
}

.root {
  text-align: center;
}

$cell-size: 20px;
.cells-container {
  display: inline-block;
  margin: 0 auto;
  border: 1px solid #333;
  text-align: center;
  margin-top: 20px;
  .cell {
    float: left;
    width: $cell-size;
    height: $cell-size;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    &.clear-left {
      clear: left;
    }
    // &.lightCell {
    //   background-color: #fff;
    // }
    // &:not(.lightCell) {
    //   background-image: none !important;
    // }
    &.wall {
      background-color: #333;
    }
    &.playerCell {
      background-image: url(./img/hero.jpg);
    }
    &.foodCell {
      background-image: url(./img/food.png);
    }
    &.monsterCell {
      background-image: url(./img/monster.png);
    }
    &.monsterCell.monsterKingCell {
      background-image: url(./img/monster-king.png);
    }
    &.weaponCell {
      background-image: url(./img/sword.png);
    }
    &.staircaseCell {
      background-image: url(./img/staircase.png);
    }
    &.col-0,
    &.row-0 {
      visibility: hidden;
      width: 0;
      height: 0;
    }
  }
}

.player-info {
  color: #fff;
  span {
    margin: 0 10px;
  }
}
